﻿@model List<OrderModel>
@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>
<a asp-controller="Order" class="btn btn-danger" asp-action="Create">Create</a>
<hr/>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Product Name</th>
        <th>Qty</th>
        <th>Sum</th>
        <th>Customer Name</th>
        <th>Customer Phone Number</th>
        <th>Comment</th>
        <th>Created at</th>
        <th>Deliver date</th>
    </tr>
    @foreach (var order in Model)
    {
    <tr>
    <td>@order.Id</td>
    <td>@order.ProductName</td>
    <td>@order.Qty</td>
    <td>@order.Sum</td>
    <td>@order.CustomerName</td>
    <td>@order.CustomerPhoneNumber</td>
    <td>@order.Comment</td>
    <td>@order.CreatedAt</td>
    <td>@order.DeliverDate</td>
    </tr>
        
    }
</table>

