﻿@model List<ProductModel>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<hr/>
<a asp-controller="Product" class="btn-primary btn" asp-action="Create">Create</a>
<hr/>
<div class="row">
  @foreach (var product in Model)
      {
          <div class="col-sm-6">
              <div class="card">
                  <div class="card-header">
                      <p class="card-text">@product.CategoryName</p>
                  </div>
                  <div class="card-body">
                      <h3 class="card-title">@product.Name</h3>
                      <p class="card-text">@product.BrandName</p>
                      <h5>@product.Price</h5>
                      <a asp-controller="Order" class="btn-primary btn" asp-action="CreateWithProduct" asp-route-productId="@product.Id">Order</a>
                  </div>
              </div>
          </div>
      }
</div>
    


