﻿@model List<CategoryModel>
@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
<hr/>
<a  class="btn-primary btn" asp-controller="Category" asp-action="Create">Create</a>
<ol>
    @foreach (var category in Model)
    {
        <li>@category.Name</li>
    }
</ol>