﻿@model List<BrandModel>
@{
    ViewData["Title"] = "Brands";
}

<h1>Brands</h1>
<hr/>
<a  class="btn-primary btn" asp-controller="Brand" asp-action="Create">Create</a>
<ol>
    @foreach (var brand in Model)
    {
        <li>@brand.Name</li>
    }
</ol>
    


